{% comment %}
  The carousel on the main landing page.
{% endcomment %}
<!-- _includes/carousel.html -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"
         style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
           url('{{ site.baseurl }}/assets/img/music/concert-3.freegreatpicture.com.jpeg');">
      <div class="container">
        <div class="carousel-caption text-left">
          <div class="carousel-text">
            <h1>Beispiel Überschrift.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Heute anmelden</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"
         style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
           url('{{ site.baseurl }}/assets/img/music/concert2.freegreatpicture.com.jpeg');">
      <div class="container">
        <div class="carousel-caption">
          <h1>Weiteres Beispiel.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Erfahren Sie mehr</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"
         style="background-image: linear-gradient(rgba(101,94,26,0.1), rgba(70,44,23, 0.71)),
           url('{{ site.baseurl }}/assets/img/music/brass-band-246987_1920.jpg');">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>und noch eins obendrauf.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- End _includes/carousel.html -->
