{% comment %}
  The carousel on the main landing page.
{% endcomment %}
{% assign image_1 = "assets/img/carousel/MV-P-01.jpg" %}
{% assign image_2 = "assets/img/carousel/MVO-01.jpg" %}
{% assign image_3 = "assets/img/carousel/SVM-01.jpg" %}
{% assign image_4 = "assets/img/carousel/MV-P-02.jpg" %}
<!-- _includes/carousel.html -->
<div id="landingCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#landingCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#landingCarousel" data-slide-to="1"></li>
    <li data-target="#landingCarousel" data-slide-to="2"></li>
    <li data-target="#landingCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active carousel-item-background-1">
      <div class="container">
        <div class="carousel-caption">
          <div class="carousel-text">
            <h1>20. Juni 2020</h1>
            <p>Einen Tag lang zeigen wir die ganze Vielfalt der Ludwigsburger Laienmusikszene.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-item-background-2">
      <div class="container">
        <div class="carousel-caption">
        <h1>20. Juni 2020</h1>
          <p>Die schönste Nebenbeschäftigung, das "Selber-Musizieren".</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-item-background-3">
      <div class="container">
        <div class="carousel-caption">
          <h1>20. Juni 2020</h1>
          <p>Wir laden ein zum Verweilen, Zuhören und Mitmachen.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-item-background-4">
      <div class="container">
        <div class="carousel-caption">
          <h1>20. Juni 2020</h1>
          <p>Das musikalische Leben in Ludwigsburg ist sehr vielfältig, kreativ und bunt.</p>
        </div>
      </div>
  </div>

  </div>
  <a class="carousel-control-prev" href="#landingCarousel"  role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#landingCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- End _includes/carousel.html -->
