<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p></p>
<p>STADTVERBAND MUSIK Ludwigsburg 1966 e.V.<br/>
  SVM Geschäftsstelle c/o Nicole Bacher<br>
  Beim Hasenkreuz 6<br/>
  71696 M&ouml;glingen
</p>

<p>Vereinsregister: VR 200578<br/>
  Registergericht: Amtsgericht Stuttgart
</p>

<p><strong>Vertreten durch:</strong>
<ul>
  <li>Rudolf Artinger</li>
  <li>Gabriele Seyfang</li>
  <li>Harald Postner</li>
</ul>
</p>

<h2>Kontakt</h2>
<p>E-Mail:
  <script language='javascript' type='text/javascript'>
      //
      x = '&#64;';
      eml = '&#86;&#111;&#114;&#115;&#116;&#97;&#110;&#100;&#83;&#86;&#77;&#117;&#115;&#105;&#107;' + x + '&#115;&#118;&#109;&#45;&#108;&#117;&#100;&#119;&#105;&#103;&#115;&#98;&#117;&#114;&#103;&#46;&#100;&#101;';
      msg = '&#86;&#111;&#114;&#115;&#116;&#97;&#110;&#100;&#83;&#86;&#77;&#117;&#115;&#105;&#107;' + x + '&#115;&#118;&#109;&#45;&#108;&#117;&#100;&#119;&#105;&#103;&#115;&#98;&#117;&#114;&#103;&#46;&#100;&#101;';
      out = '<a href="mailto:' + eml + '">' + msg + '</a>';
      document.write(out);
      //
  </script>
  <noscript>
  &#86;&#111;&#114;&#115;&#116;&#97;&#110;&#100;&#83;&#86;&#77;&#117;&#115;&#105;&#107; (at)
  &#115;&#118;&#109;&#45;&#108;&#117;&#100;&#119;&#105;&#103;&#115;&#98;&#117;&#114;&#103;&#46;&#100;&#101;
  </noscript>
</p>

<h2>Redaktionell verantwortlich</h2>
<p>Harald Postner<br/>
  H&auml;rtestr. 8<br/>
  71634 Ludwigsburg</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
  teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

