<!-- _includes/footer.html -->

<footer class="mt-md-5">

    <div class="container p-3 p-md-5" style=" text-align: center;">
      <div>
        <h2 class="p-2 p-md-3">Wir danken unseren Sponsoren für Ihre Unterstützung</h2>
        <div class="row align-items-center ">
          <div class="col-6 col-md-3" style="padding-bottom: 1rem">
            <img src="{% link assets/img/sponsoren/buergerstiftung.png %}" alt="Logo der Bürgerstiftung"
                 class="img-fluid">
          </div>
          <div class="col-6 col-md-3"style="padding-bottom: 1rem">
            <img src="{% link assets/img/sponsoren/swlb.png %}" alt="Logo der Stadtwerke Ludwigsburg-Kornwestheim"
                 class="img-fluid">
          </div>
          <div class="col-6 col-md-3"style="padding-bottom: 1rem">
            <img src="{% link assets/img/sponsoren/stadtLudwigsburg.png %}" alt="Logo der Stadt Ludwigsburg"
                 class="img-fluid">
          </div>
          <div class="col-6 col-md-3"style="padding-bottom: 1rem">
            <img src="{% link assets/img/sponsoren/svm.png %}" alt="Logo des Stadtverband Musik e.V."
                 class="img-fluid">
          </div>
        </div>
        <h2 class="p-2 p-md-3">Folgen & Teilen</h2>
        {% include share-buttons.html %}

      </div>

    </div>
  <p>Design - Harald Postner</p>
</footer>
<!-- End _includes/footer.html -->
