<!-- _includes/footer.html -->

<footer class="mt-md-5">


    <div class="container p-3 p-md-5" style=" text-align: center;">
      <div>
        <h2>Wir danken unseren Sponsoren für Ihre Unterstützung</h2>
        <div class="row">
          <div class="col ">
            <div  class="sponsor-box">
              <img src="{% link assets/img/sponsoren/buergerstiftung.svg %}" alt="Bürgerstiftung"
                   class="img-fluid"
                   style="border: 1rem solid white;background-color: white">
            </div>
          </div>
          <div class="col sponsor-box">
            xxx
          </div>
          <div class="col sponsor-box">
            xxx
          </div>
          <div class="col sponsor-box">
            xxx
          </div>
        </div>
        <h2>Folgen & Teilen</h2>
        {% include share-buttons.html %}


      </div>
    </div>

</footer>
<!-- End _includes/footer.html -->
