<!-- _includes/footer.html -->

<footer class="mt-md-5">

  <div class="container pt-3 pt-md-5" style=" text-align: center;">
    <div>
      <h2 style="padding-bottom: 1.5rem">Wir danken unseren Sponsoren für Ihre Unterstützung</h2>
      <div class="row align-items-center ">
        <div class="col-6 col-md-3" style="padding-bottom: 1rem">
          <a href="https://www.buergerstiftung-ludwigsburg.de/">
            <img src="{% link assets/img/sponsoren/buergerstiftung.png %}" alt="Logo der Bürgerstiftung"
                 class="img-fluid">
          </a>
        </div>
        <div class="col-6 col-md-3" style="padding-bottom: 1rem">
          <a href="https://www.swlb.de/">
            <img src="{% link assets/img/sponsoren/swlb.png %}" alt="Logo der Stadtwerke Ludwigsburg-Kornwestheim"
                 class="img-fluid">
          </a>
        </div>
        <div class="col-6 col-md-3" style="padding-bottom: 1rem">
          <a href="https://www.ludwigsburg.de/start.html">
            <img src="{% link assets/img/sponsoren/stadtLudwigsburg.png %}" alt="Logo der Stadt Ludwigsburg"
                 class="img-fluid">
          </a>
        </div>

        <div class="col-6 col-md-3" style="padding-bottom: 1rem">
          <a href="https://www.svm-ludwigsburg.de/">
            <img src="{% link assets/img/sponsoren/svm.png %}" alt="Logo des Stadtverband Musik e.V."
                 class="img-fluid">
          </a>
        </div>
      </div>
      <h2 class="p-2 p-md-3">Folgen & Teilen</h2>
      {% include share-buttons.html %}
    </div>

  </div>
  <p style="margin: 0;padding-bottom: 1rem;padding-right: 2rem; text-align: right">Design - Harald Postner</p>
</footer>
<!-- End _includes/footer.html -->
