---
layout: default
---

<!-- _layouts/landingpage.html -->
{% include carousel.html %}
   <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing">
    {%- for post in site.posts -%}
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ post.title | escape }} <span class="text-muted">{{ post.subtitle | escape }}</span></h2>
        <div class="lead">
          {{ post.excerpt }}
        </div>
        <a class="btn btn-lg btn-primary" href="{{ post.url | relative_url }}" role="button">Mehr...</a>
      </div>
      <div class="col-md-5">
        <img src="{{post.title_image}}"
             alt=""
             width="500"
             height="500"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>

    </div>
    {%- endfor -%}

    {{ content }}
  </div><!-- /.container -->
<!-- End _layouts/landingpage.html -->
