---
layout: default
---

<!-- _layouts/landingpage.html -->
{% include carousel.html %}
  <div class="container marketing">

    {{ content }}
    {% assign sorted_posts = site.posts | sort: "teaser_position" %}
    {% assign text_left = true %}
    {% assign first_feature = true %}
    {%- for post in sorted_posts -%}
    {% unless first_feature %}
       <hr class="my-md-5">
    {% endunless %}
    {% assign first_feature = false %}
    {% if text_left %}
    <div class="row featurette">
      <div class="col-md-7 mb-3">
        <h2 class="featurette-heading mb-md-3">{{ post.title | escape }}
          <small class="text-muted">{{ post.subtitle | escape }}</small></h2>
        <div class="lead">
          {{ post.excerpt }}
        </div>
        {% unless post.only_teaser %}
        <a class="btn btn-outline-primary"
           style="width: 100%"
           href="{{ post.url | relative_url }}" role="button">Mehr...</a>
        {% endunless %}
      </div>
      <div class="col-md-5">
        <img src="{{post.title_image}}"
             alt=""
             width="500"
             height="500"
             class="featurette-image img-fluid mx-auto">
      </div>
    </div>
    {% assign text_left = false %}
    {% else %}
    <div class="row featurette">
      <div class="col-md-7 order-md-2 mb-3">
        <h2 class="featurette-heading mb-md-3">{{ post.title | escape }}
          <small class="text-muted">{{ post.subtitle | escape }}</small></h2>
        <div class="lead">
          {{ post.excerpt }}
        </div>
        {% unless post.only_teaser %}
        <a class="btn btn-outline-primary"
           style="width: 100%"
           href="{{ post.url | relative_url }}" role="button">Mehr...</a>
        {% endunless %}
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{post.title_image}}"
             alt=""
             width="500"
             height="500"
             class="featurette-image img-fluid mx-auto">
      </div>
    </div>
    {% assign text_left = true %}
    {% endif %}
    {% endfor %}


  </div><!-- /.container -->
<!-- End _layouts/landingpage.html -->
