<!-- _layouts/landingpage.html -->
<!doctype html>
<html lang="en">
<head>
  {% include head.html %}


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    {%- for css in page.extra_css %}
    <!-- Custom styles for this template -->
    <link href="{{ css }}" rel="stylesheet">
    {%- endfor %}
  </head>
  <body>
    {% include header.html %}

    {{ content }}

    {% include scripts.html %}
  </body>
</html>
<!-- End _layouts/landingpage.html -->
